.card-img {
  height: 150px;
  margin: 0px 5px;
  width: 100%;
  max-width: 200px;
}
.shop-card {
  border: solid 4px red;
  display: inline-flex;
  margin: 15px 15px;
  width: 250px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
h4 {
  display: inline-block;
  width: 100%;
}
.card-btns {
  display: inline-block;
  margin: 15px 15px;
}
button {
  margin: 0px 15px;
}