ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

ul div {
    display: flex;
}

li {
    border: 2px solid blue;
    color: brown;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 5px;
} 
li a {
    text-decoration: none;
}